footer {
    background-color: #333333; /* Dark background */
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 20px 0;
}
footer a {
    color: #DB3E25; /* Links in footer are red */
}
footer a:hover {
    color: #FFFFFF; /* Links turn white on hover */
}
