/* Main Styles */
/* body Styles */
body {
    background-color: #97D5EE; /* Consistent background color */
    color: #DB3E25; /* Consistent brand color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 2rem;
}

.header-content {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-text h1 {
    font-size: 2rem; /* Responsive rem-based font size */
    margin: 0;
}

.header-text h3 {
    font-size: 1rem;
    color: #555555; /* Softer subheading color */
}

.logo {
    height: 60px; /* Adjust height for appropriate sizing */
    width: auto; /* Ensure width scales proportionally */
    margin-right: 20px; /* Add space between logo and text */
    vertical-align: middle; /* Vertically align logo with text */
}

/* Navigation Styles */
nav {
    margin-top: 0.5rem;
}

nav a {
    color: #DB3E25;
    text-decoration: none;
    padding: 0.625rem 1.25rem; /* Consistent padding in rem */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #DB3E25;
    color: #ffffff;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1.25rem; /* Consistent padding in rem */
}

/* Footer Styles */
footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

footer a {
    color: #DB3E25;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}


/* Card Styles */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.25rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
}

.card h3 {
    color: #DB3E25;
    font-size: 1.5rem;
}



/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 0.625rem 0;
    }

    .container {
        padding: 1rem;
    }

    button {
        padding: 0.75rem 1.5rem; /* Slightly larger button for mobile */
        font-size: 1rem; /* Ensure readability */
    }
}
