{% extends 'base.html' %}

{% block title %}Admin Dashboard - Cobie Stationary{% endblock %}

{% block head %}
<!-- Additional head content -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
    <h2>Welcome, {{ current_user.full_name }}</h2>
    <p>Here are your admin tasks:</p>
    
    <div class="menu">
    <ul>
        <li><a href="{{ url_for('reg.view_users') }}">Manage Users</a></li><br>
        <li><a href="{{ url_for('reg.view_supplier') }}">Manage Suppliers</a></li><br>
        <li><a href="{{ url_for('reg.view_customers') }}">Manage Customers</a></li><br>
        <li><a href="{{ url_for('order.customer_order') }}">Customer Oder</a></li><br>
        <li><a href="#">View Reports</a></li><br>
        <li><a href="{{ url_for('inventory.view_inventory') }}">Inventory Management</a></li><br>
        <li><a href="#">System Settings</a></li>
    </ul>
    </div>
    <br><br><br><br>
{% endblock %}

